# Result:
- All testcases are passed
- Testcase `TaskUserInteg::ForGettingTaskByAssignedUser` exceeds the targeted response time (100ms) and is considered a **Fail**. However, it has no problem in terms of functionality, so we will fix this, but not now. 
	- A gitlab issue has been opened to address this issue. However, this should be a long-term goal. Right now, we should focus on implementing other functions and setting up the server. 