{% extends 'header.html' %}

{% block body %}

<h1>Next Task:</h1>

{% for task in tasks %}

<div style="background-color: #FAE100; border-color: black; border-width: 3px; border-radius: 5px; margin: 10px; padding: 10px">
    <h2 style="margin: 0">{{task[2]}}</h2>
    <p style="margin: 0">Type: {{task[3]}}</p>
    <p style="margin: 0">Start Time: {{task[4]}}</p>
    <p style="margin: 0">Due: {{task[5]}}</p>
    <p style="margin: 0">Not Finished</p>
</div>

{% endfor %}

<h1>Tasks Due Today:</h1>
<h1>Tasks Due Tomorrow:</h1>
{% endblock %}