{% extends 'header.html' %}

{% block body %}

<button type="button", id="newtask", style="padding: 20px 50px 20px 50px;background-color: #FAE100;border-radius: 5px;">Add New Task</button>

<h1>Next Task:</h1>

{% for task in tasks %}

<div class="item", id="{{task[0]}}", style="background-color: #FAE100; border-color: black; border-width: 3px; border-style: solid; border-radius: 5px; margin: 10px; padding: 10px">
    <h2 style="margin: 0">{{task[2]}}</h2>
    <p style="margin: 0">Type: {{task[3]}}</p>
    <p style="margin: 0">Start Time: {{task[4]}}</p>
    <p style="margin: 0">Due: {{task[5]}}</p>
    <p style="margin: 0">Not Finished</p>
</div>

{% endfor %}

<h1>Tasks Due Today:</h1>
<h1>Tasks Due Tomorrow:</h1>

<script>
document.querySelector('#newtask').addEventListener('click', async (e) => {
    window.location.href = 'http://127.0.0.1:5000/newTask/{{user}}';
});

// Select all elements with the class 'my-item'
const myItems = document.querySelectorAll('.item');

// Add a click event listener to each 'my-item'
myItems.forEach(item => {
    item.addEventListener('click', function() {
        var tid = item.id;
        window.location.href = 'http://127.0.0.1:5000/updateTask/{{user}}/' + tid;
    });
});

</script>

{% endblock %}